<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Your Memory Stinks - Hall of Fame</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Hall Of <span class="top">Fame</span></h1>
	<hr>
	<div class="container-fluid">
		<div class="row-centered">
			<form action="/" method="GET">
				<button class="new-game col-xs-4 col-xs-offset-2">New Game</button>
			</form>
			<form action="/hall" method="GET">
				<button class="hall-of-fame col-xs-4">Hall Of Fame</button>
			</form>
		</div>
	</div>
	<br>
	<div class="container">
		<% for(var i=0; i<scores.length; i++) {%>
			<p class="scores row">
				<span class="col-xs-4 col-xs-offset-4"><%= scores[i].name %>: </span>
				<span class="col-xs-4"> <%= scores[i].score %></span>
			</p>
		<% } %>
	</div>
	<hr>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>
